/* SHOW MAIN */
.show-main{
    padding: 20px 50px;

    .show-title{
        margin-bottom: 40px;
        font-size: 2.5rem;
    }

    h3{
        margin: 10px;
    }

    .description{
        margin: 20px 0;
        text-align: left;
    }
}